.~lock*
*.aux
*.log
*.synctex.gz
*.synctex
BIOL6309/Project/DataSets
BIOL6309/Project/rmb/data
BIOL6309/Project/rmb/static/*.png
BIOL6309/Project/rmb/static/*.xml
BIOL6309/Project/rmb/static/*.fasta
BIOL6309/Lab_10/bacterialGenome/*.fastq.gz
BIOL6309/Lab_10/bacterialGenome/*.fastq
BIOL6309/Lab_10/bacterialGenome/300bp_pe_1.fastq
BIOL6309/Lab_10/bacterialGenome/300bp_pe_2.fastq
BIOL6309/Lab_10/bacterialGenome/300bp_pe_def.filt.sam
BIOL6309/Lab_10/bacterialGenome/300bp_pe_shuffled.fastq
BIOL6309/Lab_10/bacterialGenome/3kb_mp_1.fastq
BIOL6309/Lab_10/bacterialGenome/3kb_mp_1RC.fastq
BIOL6309/Lab_10/bacterialGenome/3kb_mp_2.fastq
BIOL6309/Lab_10/bacterialGenome/3kb_mp_2RC.fastq
BIOL6309/Lab_10/bacterialGenome/3kb_mp_def.filt.sam
BIOL6309/Lab_10/bacterialGenome/3kb_mp_shuffled.fastq
BIOL6309/Lab_10/bacterialGenome/auto_31/Graph2
BIOL6309/Lab_10/bacterialGenome/auto_31/LastGraph
BIOL6309/Lab_10/bacterialGenome/auto_31/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_31/Sequences
BIOL6309/Lab_10/bacterialGenome/auto_33/Graph2
BIOL6309/Lab_10/bacterialGenome/auto_33/LastGraph
BIOL6309/Lab_10/bacterialGenome/auto_33/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_35/Graph2
BIOL6309/Lab_10/bacterialGenome/auto_35/LastGraph
BIOL6309/Lab_10/bacterialGenome/auto_35/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_37/Graph2
BIOL6309/Lab_10/bacterialGenome/auto_37/LastGraph
BIOL6309/Lab_10/bacterialGenome/auto_37/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_39/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_41/Roadmaps
BIOL6309/Lab_10/bacterialGenome/auto_43/Roadmaps
BIOL6309/Lab_10/Part_III/Rhodobacter
